Source: dwz
Section: devel
Priority: optional
Maintainer: Pexip AS <packaging@pexip.com>
XSBC-Pexip-Original-Maintainer: Debian GCC Maintainers <debian-gcc@lists.debian.org>
XSBC-Pexip-Original-Uploaders: Matthias Klose <doko@debian.org>
Build-Depends: debhelper (>= 11),
  libelf-dev,
  dejagnu <!nocheck>,
  elfutils <!nocheck>,
  gdb <!nocheck>,
Standards-Version: 4.5.1
Homepage: https://www.sourceware.org/dwz/
XS-Pexip-Upstream: http://ftp.debian.org/debian/ bullseye

Package: dwz
Architecture: any
Multi-Arch: foreign
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: DWARF compression tool
 DWARF optimizer and duplication removal utility.
