#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DEB_BUILD_OPTIONS := $(DEB_BUILD_OPTIONS) nostrip noopt
export DEB_BUILD_OPTIONS

CFLAGS  := $(shell dpkg-buildflags --get CPPFLAGS; dpkg-buildflags --get CFLAGS)
LDFLAGS := $(shell dpkg-buildflags --get LDFLAGS)

%:
	dh $@ --parallel --buildsystem=makefile --builddirectory=build

override_dh_auto_configure:
	rm -rf build
	mkdir build
	cd build && ../configure

override_dh_auto_build:
	dh_auto_build -- CFLAGS="$(CFLAGS)" LDFLAGS="$(LDFLAGS)"

override_dh_auto_test:
	-dh_auto_test
